
@font-face {
  font-family: neu;
  src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(./NeueHaasDisplayRoman.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --black:black;
  --white:white;
  --yellow: #FBB522;
}
body[theme="yellow"]{
  background-color: var(--yellow);
}
body[theme="black"]{
  background-color: var(--black);
}
body{
  transition: background-color ease-out .5s;
}
*::selection{
  background-color: var(--sand-brown);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neu;
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  /* background-color: #000; */
  position: relative;
  z-index: 10;
}

/* 
#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  position: relative;
  padding: 0 2vw;
} */
 .sandbox{
  display: flex;
  gap: 5%;
  align-items: center;
  cursor: default
 }
.nav img{
  width: 16%;
  margin-left: 6px;
}
.sandbox h4 a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: default
}
nav {
  padding: 1vw 1vw;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: space-between;
  gap: 15%;
  background-color: black;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 18px;
}

#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #FBB522;
  border-radius: 50px;
  font-weight: 500;
  color: black;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FBB522;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

#nav-part2 h4:hover a {
  color: black;
}

img.lang-1{
  width: 3%;
  margin-left: 3%;
  opacity: .8;
}
img.lang-2{
  width: 3%;
  margin-left: -1%;
  opacity: .8;
}
img.lang-1:hover{
  opacity: 1;
}
img.lang-2:hover{
  opacity: 1;
}
#sandbox-video-section{
  display: flex;
    position: relative;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
}
.sandbox-video{
  width: 100%;
  height: 193vh;
  margin-top: -250px;

}
.sandbox-text{
  position: absolute; 
  /* margin-bottom: -66px; */
  margin-bottom: -188px;
}
.sandbox-text p{
  font-size: 26px;
  font-weight: 500;
  transform: translate(41%, -80%);
  width: 56%;
  text-align: left;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
  backdrop-filter: blur(1px);
}
#sandbox-span{
  color: #FBB522;
  font-family: "Poppins", sans-serif;
}
hr{
  position: relative;
  transform: translate(50%, 50%); 
  top: -9rem;
  width: 8%;
  left: 241px;
  background: #FBB522;
  padding: 3px;
  border: none;
}
#hr{
  margin-bottom: 25px;
}
#video-p{
  margin-bottom: -51px;
}
.text-container {
  position: relative;
  overflow: hidden;
  height: 74px;
  width: 60%;
  text-align: left;
  transform: translate(38%, -200%);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.animated-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  color: white;
}
.anim-span{
  color: #FBB522;
}

.text-slide {
  opacity: 0;
  transform: translateY(-100%);
  animation: slide-in .5s ease-in-out forwards;
  text-align: left;
}

@keyframes slide-in {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  }
  40% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  60% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(100%);
  }
}

.text-slide:nth-child(1) {
  animation: slide-in .6s ease-in-out forwards;
}

.text-slide:nth-child(2) {
  animation: slide-in .6s ease-in-out forwards;
}

.text-slide:nth-child(3) {
  animation: slide-in .6s ease-in-out forwards;
}

.text-slide:nth-child(4) {
  animation: slide-in .6s ease-in-out forwards;
}
#video-btn{
  padding: 16px 25px;
    background: none;
    left: 23%;
    bottom: 76px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: white;
}

#video-btn  {
  border: 1px solid #FBB522;
  color: black;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

#video-btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FBB522;
  left: 0;
  bottom: -100%;
  border-radius: 100%;
  transition: all ease 0.4s;
}

#video-btn:hover::after {
  bottom: 0;
  border-radius: 0;
}

#video-btn a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

#video-btn:hover a{
  color: black;
}
.facebook,.linkedin,.youtube,.insta{
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-links{
  position: relative;
  top: -363px;
  left: 23px;
  width: 124px;
}
.links{
  border: 1px solid #FBB522;
  border-radius: 40px;
  padding: 7px 7px;
  gap: 10px;
display: flex;
margin-bottom: 12px;
}
.links img{
  width: 23px;
    align-items: center;
    display: flex;
}

.links img{
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
.hover-links{
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
}
.social-links .hover-links {
  display: none; 
}

.social-links .links:hover + .hover-links {
  display: inline-block;
}



.links {
  border: 1px solid #FBB522;
  color: black;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

.links::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FBB522;
  left: 0;
  bottom: -100%;
  border-radius: 100%;
  transition: all ease 0.4s;
}

.links:hover::after {
  bottom: 0;
  border-radius: 0;
}

.links img{
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

.links:hover img{
  color: black;
}
.sandbox-connect{
  width: 100%;
  /* background-color: #FBB522; */
  height: 123%;
  margin-top: -246px;
}

#creative-content{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 3vw;
  float: right;
  line-height: 1;
  margin-top: 7vw;
  text-align:right;
  margin-right: 5.6vw;
}
#get-connect{
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  position: relative;
  top: 40%;
  left: 10%;
  width: 32%;
}
#line{
  background: black;
  padding: 4px;
  width: 31%;
  margin-top: 11px;
  border: none;
}
#get-connect img{
  width: 60%;
  position: absolute;
  top: -46%;
  left: -19%;
}
.get-p{
  position: relative;
  z-index: 1;
}
#get-p2{
  margin-top: 2rem;
  width: 188%;
  font-size: 2rem;
}
img#get-connect-img2{
  width: 60%;
  position: absolute;
  top: 20%;
  left: 203%;
}